﻿@model StoreModel
@using Nop.Web.Models.Home;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    string storeId = "/" + Model.id.ToString();
    string register = storeId + "/" + "Register";
    string findSubscription = storeId + "/" + "findSubscription";
    string inc = storeId + "/" + "inc";
}
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information">
            <div class="title">
                <a href="@register">הרשמה</a>
            </div>

        </div>

    </div>
      
      
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>