﻿@model subPointsModel 
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <div class="page-title">
            <h1>קניית לקוח</h1>
        </div>
    
    <div class="inputs">
        @*@Html.LabelFor(model => model.phone, new { }, ":")*@
        <label for="phone" >טלפון:  </label>
        @Html.EditorFor(model => model.phone)
    </div>
    <div class="inputs">
        @*@Html.LabelFor(model => model.points, new { }, ":")*@
        <label for="phone">סכום קניה:  </label>
        @Html.EditorFor(model => model.points)
    </div>

<div class="buttons">
    <input type="submit" id="inc-button" class="button-1 register-next-step-button" value="הכנס קנייה" name="inc-button" style="background-color:black; padding:20px 20px; margin-right:40%; color:white"/>
</div>
}




