﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
    string rgb = Model.rgb;
    if (String.IsNullOrWhiteSpace(rgb)) { rgb = "rgb(244, 117, 33)"; }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page registration-page">
       
        <div class="page-body">
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }

            <div class="fieldset" style="border-color:transparent !important;">
                @*<div class="title">
                        <strong>@T("Account.YourPersonalDetails")</strong>
                    </div>*@
                <div class="form-fields">

                    <div class="inputs">
                        @Html.LabelFor(model => model.FirstName, new { }, ":")
                        <input class="text-box single-line valid" data-val="true" data-val-required="חובה להזין שם פרטי" id="FirstName" name="FirstName" type="text" value=""  autocomplete="off" style="height:50px;font-size:30px;" required>
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="LastName">שם משפחה:</label>
                        <input class="text-box single-line" data-val="true" data-val-required="חובה להזין שם משפחה" id="LastName" name="LastName" type="text" value=""  autocomplete="off" style="height:50px;font-size:30px;" required>
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        @*@Html.LabelFor(model => model.Email, new { }, ":")*@
                        @*@Html.EditorFor(model => model.Email)*@
                        <label for="Email">טלפון נייד:</label>
                        <input class="text-box single-line valid"  id="Email"  name="Email" type="tel" value=""  autocomplete="off" style="height:50px;font-size:30px;"  pattern="(?=.*\d).{10,10}"  title="10 תווים" >
                        @Html.RequiredHint()
                        @*@Html.ValidationMessageFor(model => model.Email)*@
                        <span class="field-validation-error" id="phoneValidation"  style="display:none;">חובה להזין טלופן נייד כולל קידומת ללא מקף</span>
                    </div>
                   
                  
                   @if (Model.AllowTZ)
                   {
                    <div class="inputs">
                        <label for="Email">תעודת זהות:</label>
                        <input  class="text-box single-line valid" autocomplete="off" style="height:50px;font-size:30px;" id="TZ" name="TZ" type="tel"  class="valid" required>
                        <span class="field-validation-error" id="TZValidation" style="display:none;">מספר תז אינו תקין</span>
                    </div>
                  
                    
                    
                      <script>
                       
                        $('form').submit(function () {
                            $('#register-button').hide();
                            $("#TZValidation").hide();
                            var strTZ = $("#TZ").val();
                            if (strTZ.length != 9) {
                                $("#TZValidation").show();
                                return false
                            }
                            var tzTemp = parseInt(strTZ);
                            var bin = 0;
                            var sum = 0;
                            var temp2 = 0;
                            
                            console.log("temp  " + temp2)
                            for (i = 100000000; i >= 1; i = i / 10, bin += 1) {
                                console.log(((bin % 2) + 1) +"    " + i  )
                                temp2 = parseInt(tzTemp / i);
                                tzTemp = parseInt(tzTemp % i);
                                
                                console.log("temp  " + temp2 + "    tzTemp  " + tzTemp)
                                temp2 = temp2 * ((bin % 2)+1);
                                sum += parseInt(temp2 / 10);
                                sum += parseInt(temp2 % 10);


                            }
                            if (sum % 10 != 0) {
                                $("#TZValidation").show();
                                console.log("sum is" + sum)
                                $('#register-button').show();
                                return false
                            }
                        });
                    </script>

                    }

                    @if (Model.AllowRealEmail)
                    {
                        <div class="inputs">
                            @Html.LabelFor(model => model.Email, new { }, ":")
                            <input name="RealEmail" class="text-box single-line" id="RealEmail"  type="email" value="" data-val-email="אנא הזן כתובת מייל חוקית" data-val="true" autocomplete="off" style="height:50px;font-size:30px;" required>
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="RealEmail"></span>
                            @*<input class="text-box single-line" data-val="true" data-val-required="כתוב מייל אינה חוקית (באפשרותך להשאיר שדה זה ריק)" id="RealEmail" name="RealEmail" type="text" value="" autocomplete="off" style="height:50px;font-size:30px;">

                          <span class="field-validation-valid" data-valmsg-for="RealEmail" data-valmsg-replace="true"></span>*@
                        </div>
                    }
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="inputs date-of-birth">
                            <label>@T("Account.Fields.DateOfBirth"):</label>
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                  Html.FieldNameFor(x => x.DateOfBirthMonth),
                                  Html.FieldNameFor(x => x.DateOfBirthYear),
                                  DateTime.Now.Year - 110,
                                  DateTime.Now.Year,
                                   Model.DateOfBirthMonth,
                                  Model.DateOfBirthYear,
                                  Model.DateOfBirthDay)
                            @if (Model.DateOfBirthRequired)
                            {
                                @Html.RequiredHint()
                            }
                            <span class="field-validation-error" id="dayValidation" style="display:none;">נא לבחור יום</span>
                            <span class="field-validation-error" id="monthValidation" style="display:none;">נא לבחור חודש</span>
                            <span class="field-validation-error" id="yearValidation" style="display:none;">נא לבחור שנה</span>
                            <script>
                                $('form').submit(function () {
                                    $('#register-button').hide();
                                    $("#dayValidation").hide();
                                    $("#monthValidation").hide();
                                    $("#yearValidation").hide();
                                    var day = $("select[name='DateOfBirthDay']").val();
                                    var month = $("select[name='DateOfBirthMonth']").val();
                                    var year = $("select[name='DateOfBirthYear']").val();
                                    if (day == 0) {
                                       
                                        $("#dayValidation").show();
                                        return false;
                                        $('#register-button').show();

                                    }
                                    if (month == 0) {
                                      
                                        $("#monthValidation").show();
                                        return false;
                                        $('#register-button').show();

                                    }
                                    if (year == 0) {
                                       
                                        $("#yearValidation").show();
                                        $('#register-button').show();
                                        return false;

                                    }
                                 
                                 
                                });

                            </script>
                        </div>
                    }


                    @if (Model.Date2Enabled)
                    {
                        <div class="inputs date2">
                            <label>@Model.Date2Name :</label>
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Day2),
                                  Html.FieldNameFor(x => x.Month2),
                                  Html.FieldNameFor(x => x.Year2),
                                  DateTime.Now.Year - 110,
                                  DateTime.Now.Year,
                                  Model.Day2,
                                  Model.Month2,
                                  Model.Year2)
                            @if (Model.Date2Required)
                            {
                                @Html.RequiredHint()
                            }
                            @Html.ValidationMessageFor(model => model.Day2)
                            @Html.ValidationMessageFor(model => model.Month2)
                            @Html.ValidationMessageFor(model => model.Year2)
                        </div>
                    }
                    @if (Model.Date3Enabled)
                    {
                        <div class="inputs date3">
                            <label>@Model.Date3Name :</label>
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Day3),
                                  Html.FieldNameFor(x => x.Month3),
                                  Html.FieldNameFor(x => x.Year3),
                                  DateTime.Now.Year - 110,
                                  DateTime.Now.Year,
                                  Model.Day3,
                                  Model.Month3,
                                  Model.Year3)
                            @if (Model.Date2Required)
                            {
                                @Html.RequiredHint()
                            }
                            @Html.ValidationMessageFor(model => model.Day3)
                            @Html.ValidationMessageFor(model => model.Month3)
                            @Html.ValidationMessageFor(model => model.Year3)
                        </div>
                    }

                    @if (Model.multiField)
                    {
                        <div class="inputs">
                            <ul class="option-list">


                                <label>@Model.multiFieldName </label>

                                @if (Model.check1)
                                {
                                    <li >
                                        @Html.EditorFor(model => model.check1Val)
                                        <label for="@Model.check1String">@Model.check1String</label>
                                    </li>
                                }
                                @if (Model.check2)
                                {
                                    <li>
                                        @Html.EditorFor(model => model.check2Val)
                                        <label for="@Model.check2String">@Model.check2String</label>
                                    </li>
                                }
                                @if (Model.check3)
                                {
                                    <li>
                                        @Html.EditorFor(model => model.check3Val)
                                        <label for="@Model.check3String">@Model.check3String</label>
                                    </li>
                                }
                                @if (Model.check4)
                                {
                                    <li>
                                        @Html.EditorFor(model => model.check4Val)
                                        <label for="@Model.check4String">@Model.check4String</label>
                                    </li>
                                }
                                @if (Model.check5)
                    {
                                    <li>
                                        @Html.EditorFor(model => model.check1Val)
                                        <label for="@Model.check5String">@Model.check5String</label>
                                    </li>
                                }
                                }


                            </ul>
                                 </div>

                    }




                    @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {


                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Newsletter, new { }, ":")
                                    @Html.EditorFor(model => model.Newsletter)
                                    @Html.ValidationMessageFor(model => model.Newsletter)
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>

                    }
                    @if (Model.GenderEnabled)
                    {
                        <div class="inputs">
                            <label>@T("Account.Fields.Gender"):</label>
                            <div class="gender">
                                <span class="male">
                                    @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                </span>
                                <span class="female">
                                    @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                    <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                </span>
                            </div>
                        </div>
                    }



                    <div class="form-fields">




                        <div class="accept-privacy-policy" style="font-size:14px;">
                            <input id="accept-privacy-policy" type="checkbox" checked  name="accept-privacy-policy" readonly />
                            <label for="accept-privacy-policy">אני מאשר קבלת מסרים פרסומיים ואת</label>
                            <span class="read" id="read-privacyinfo" >התקנון</span>
                            <script>
                        $(document).ready(function() {
                            $('#read-privacyinfo').on('click', function (e) {
                                displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', '@T("Account.Fields.AcceptPrivacyPolicy")');
                            });
                        });
                    </script>
                        </div>
                        
                      
                    </div>




                    @*@if (Model.AcceptPrivacyPolicyEnabled)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#register-button').click(function () {
                                    if ($('#accept-privacy-policy').is(':checked')) {
                                        //do some stuff
                                        return true;
                                    }
                                    else {
                                        //just show validation errors, dont post
                                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <div class="accept-privacy-policy">
                            <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                            <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                            <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                            <script>
                                $(document).ready(function () {


                                    $('#read-privacyinfo').on('click', function (e) {
                                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', '@T("Account.Fields.AcceptPrivacyPolicy")');
                                    });
                                });
                            </script>
                        </div>
                    }*@
                    <div class="buttons">
                        <input type="submit" id="register-button" class="button-1 register-next-step-button" style="background-color:@rgb!important; height:50px; padding-left:100px;padding-right:100px;padding-bottom:60px;padding-top:25px;font-size:26px" value="לחץ להצטרפות" name="register-button"  />
                    </div>
                    <script>

                        $('form').submit(function () {
                            $('#register-button').hide();
                            $("#phoneValidation").hide();
                            console.log("aaaaaa")
                            str = $("#Email").val();
                            var patt1 = /05\d{8}/g;
                            var result = str.match(patt1);
                            
                            if (!result) {
                                $("#phoneValidation").show();
                                $("#zz").show();
                                console.log(result)
                                $('#register-button').show();
                                return false
                            }
                     });
                            </script>
                </div>
            </div>
            
        </div>
    </div>
                }
               