﻿@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
    string storeId = "/" + Model.storeID.ToString();

    string msg = "";
    if(Model.Result == "99")
    {
        msg = "תודה על הרשמתך למועדון הלקוחות שלנו";
    }
    if (Model.Result == "199")
    {
        msg = "לא ניתן להרשם יותר מפעם אחת במכשיר זה";
    }
    if(Model.Result == "מספר הטלפון כבר קיים במערכת")
    {
        Model.Result = "מספר תעודת הזהות כבר קיים במערכת";
    }
    else
    {
        msg = Model.Result;
    }
}
@using (Html.BeginForm(new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
{
    @Html.AntiForgeryToken()
    <div class="page registration-result-page">
        <div class="page-title">
           
        </div>
        <div class="page-body">
            @if (Model.Result == "שגיאת מערכת")
            {
                <div class="result" style="font-size:30px; color:red;">
                    @msg
                </div>
            }
            else
            {
            <div class="result" style="font-size:30px">
                @msg
            </div>
            }
            @if (Model.Result != "99" && Model.Result != "199")
            {
            <div class="buttons">
                <input type="submit" name="register-continue" id="regresbut" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")"/>
            </div>
            }
        </div>
    </div>
}
<script>
    console.log("gfdgdf")
    function clicker() { $("#regresbut").click(); }
    setTimeout(clicker, 3000);
</script>