﻿@model findSubModel
@using Nop.Web.Models.Home;

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
    string rgb = Model.rgb;
    if (String.IsNullOrWhiteSpace(rgb)) { rgb = "rgb(244, 117, 33)"; }
}
@using (Html.BeginForm())
{
<div class="form-fields">
    <div class="inputs">
       
        <input class="text-box single-line" type="tel" id="phone" name="phone" type="text" value="" autocomplete="off" style="height:50px;font-size:30px; צשרעןמ-ר" >
        
    </div>
</div>
<div class="buttons">
    <input type="submit" class="button-1 register-next-step-button" id="findSubscription-button"  value="חיפוש חבר" name="findSubscription" style="background-color:@rgb; padding:20px 20px; margin-right:31%; margin-top:10%; color:white;  width:40%;" />
</div>
}