﻿@model subPointsModel 
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page registration-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.phone, new { }, ":")
        @Html.EditorFor(model => model.phone)
    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.points, new { }, ":")
        @Html.EditorFor(model => model.points)
    </div>


}

