﻿@model CampaignModel
@{
    string AllGender = "";
    string Male = "";
    string Female = "";
    if (Model.Gender == null)
    {
        AllGender = "selected";
    }
    if (Model.Gender == "M")
    {
        Male = "selected";
    }
    if (Model.Gender == "F")
    {
        Female = "selected";
    }

}

@using (Html.BeginForm())
{

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
@if (Model.AdminOrVendor)
{
        @Html.Action("StoreScopeConfiguration", "Setting")
}
        <div class="panel-group">
           
              
           

            <div class="panel panel-default">
                <div class="panel panel-body">

    <div class="form-group">
        <div class="col-md-3">
            <label>שם הקמפיין (רצוי כי שם הקמפיין יתאר את הקמפיין)</label>
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>כלול פניה אישית ללקוח  (שם פרטי)</label>
                        </div>
                        <div class="col-md-9">

                            <button id="msgNameBut" class="btn btn-info" onclick="nameMsg()">הוסף שם לקוח</button>

                            @*@Html.NopEditorFor(model => model.withName)*@
                        </div>
                    </div>


    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Body" title="">תוכן עד 172 תווים</label><div class="ico-help" title="תוכן אימייל של הקמפיין שלך"><i class="fa fa-question-circle"></i></div></div>
        </div>
        <div class="col-md-9">
            @*@Html.NopTextAreaFor(model => model.Body,null,true,10,20)*@
            <textarea onKeyDown="textCounter(this, 'q17length', 172);"
                      rows="10" cols="40" data-val="true" data-val-required="חובה להזין תוכן" id="Body" name="Body" type="text" value="">
                @Model.Body
            </textarea>
        </div>
        <div class="col-md-9">
            <div class="col-md-9">
                <input style="color:red;font-size:12pt;font-style:italic;" readonly type="text" id='q17length' name="q17length" size="3" maxlength="3" value="172">

            </div>

        </div>
        @*<div class="col-md-9">
                @{
                    //we use rich editor with BODY tag supported
                    //it could be a better practice to implement one more editor (similar to RichEditor.cshtml)
                    //with "enableFullPage" property set to "true". but we do not want to duplicate source code
                    //that's why we use this workaround
                    //we store a value into "ViewData" and then use it in the RichEditor.cshtml file
                    ViewData["nop.RichEditor.EnableFullPage"] = true;
                }
                @Html.EditorFor(model => model.Body, "RichEditor")
                @Html.ValidationMessageFor(model => model.Body)
            </div>*@
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>תאריך ושעת שליחה מתוכנן, להשאיר ריק לשליחה מיידית.  </label>
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.DontSendBeforeDate)
            @Html.ValidationMessageFor(model => model.DontSendBeforeDate)
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <label>מקור ההצטרפות של הלקוח</label>
                </div>

                <div>
                    <input id="allOrigin" type="radio" name="allOrigin" value="true" checked="checked">
                    <label>כל מקורות ההצטרפות</label>
                </div>
                <div>
                    <input id="multiOrigin" type="radio" name="multiOrigin" value="">
                    <label>פירוט מקורות (בחירה מרובה)</label>
                </div>



                <ul class="option-list" id="origins" style="display:none;">
                    <li>

                        @Html.NopEditorFor(model => model.ezDevice)
                        <label>טאבלט בחנות</label>
                    </li>
                    <li>

                        @Html.NopEditorFor(model => model.facebook)
                        <label>פייסבוק</label>

                    </li>
                    <li>

                        @Html.NopEditorFor(model => model.instagram)
                        <label>אינסטגרם</label>

                    </li>

                    <li>

                        @Html.NopEditorFor(model => model.website)
                        <label>אתר החנות</label>
                    </li>
                    <li>

                        @Html.NopEditorFor(model => model.internet)
                        <label>דף אינטרנט אחר</label>
                    </li>

                    <li>

                        @Html.NopEditorFor(model => model.legacyDb)
                        <label>מאגר מידע קודם</label>
                    </li>
                    <li>

                        @Html.NopEditorFor(model => model.other)
                        <label>אחר</label>
                    </li>
                </ul>



            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#multiOrigin').click(function () { $("#origins").show(); $('#allOrigin').attr('checked', false); });
            $('#allOrigin').click(function () { $("#origins").hide(); $('#multiOrigin').attr('checked', false); });
        });
    </script>


    @if (Model.multiField)
    { <div class="panel panel-default">
                        <div class="panel panel-body">
                            <div class="form-group">
                                <div class="inputs">

                                    <label>@Model.multiFieldName </label>
                                    <ul class="option-list">
                                        @if (Model.check1)
                                        {
                                            <li>
                                                @Html.EditorFor(model => model.check1Val)
                                                <label for="@Model.check1String">@Model.check1String</label>
                                            </li>
                                        }
                                        @if (Model.check2)
                                        {
                                            <li>
                                                @Html.EditorFor(model => model.check2Val)
                                                <label for="@Model.check2String">@Model.check2String</label>
                                            </li>
                                        }

                                        @if (Model.check3)
                                        {
                                            <li>
                                                @Html.EditorFor(model => model.check3Val)
                                                <label for="@Model.check3String">@Model.check3String</label>
                                            </li>
                                        }
                                        @if (Model.check4)
                                        {
                                            <li>
                                                @Html.EditorFor(model => model.check4Val)
                                                <label for="@Model.check4String">@Model.check4String</label>
                                            </li>
                                        }

                                        @if (Model.check5)
                                        {
                                            <li>
                                                @Html.EditorFor(model => model.check1Val)
                                                <label for="@Model.check5String">@Model.check5String</label>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
    }

                                @*<div class="form-group">
                                        <div class="col-md-3">
                                            <label>מקור הצטרפות</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control valid" id="origin" name="origin">
                                                <option selected="selected" value="0">הכל</option>
                                                <option value="1">חנות</option>
                                                <option value="2">פייסבוק\אינסטגרם</option>
                                                <option value="3">אתר החנות</option>
                                                <option value="4">דף אינטרנט אחר</option>
                                                <option value="5">מאגר מידע קודם</option>
                                                <option value="6">אחר</option>

                                            </select>

                                        </div>
                                    </div>*@

                                @if(Model.GenderEnabled)
                                {
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>מין הנמען</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control valid" id="Gender" name="Gender">
                                              
                                                <option @AllGender value="">נשים וגברים</option>
                                                
                                                <option  @Female value="F">נשים </option>
                                                <option @Male value="M">גברים</option>


                                            </select>

                                        </div>
                                    </div>

                                }

                                @if (Model.AdminOrVendor)
                                {


                                    <div class="form-group">
                                        <div class="col-md-3">
                                            תאריך רישום התחלה
                                        </div>
                                        <div class="col-md-9">
                                            @Html.NopEditorFor(model => model.CreatedOn)

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            תאריך רישום סוף
                                        </div>
                                        <div class="col-md-9">
                                            @Html.NopEditorFor(model => model.CreatedTo)

                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>בשדות התאריכים יש להקפיד לא להזין יום 31 בחודש של 30 יום.</label>
                                        </div>

                                    </div>
                                    if (Model.DateOfBirthEnabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>תאריך יום הולדת התחלה</label>
                                            </div>
                                            <div class="inputs date-of-birth">

                                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
       Html.FieldNameFor(x => x.DateOfBirthMonth),
       Html.FieldNameFor(x => x.DateOfBirthYear),
       DateTime.Now.Year - 110,
       DateTime.Now.Year,
       Model.DateOfBirthDay,
       Model.DateOfBirthMonth,
       Model.DateOfBirthYear)


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>תאריך יום הולדת סוף</label>
                                            </div>
                                            <div class="inputs date-of-birth">

                                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthToDay),
       Html.FieldNameFor(x => x.DateOfBirthToMonth),
       Html.FieldNameFor(x => x.DateOfBirthToYear),
       DateTime.Now.Year - 110,
       DateTime.Now.Year,
       Model.DateOfBirthToDay,
       Model.DateOfBirthToMonth,
       Model.DateOfBirthToYear)


                                            </div>
                                        </div>
                                    }

                                    if (Model.Date2Enabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.Date2Name</label>
                                            </div>
                                            <div class="inputs date2">
                                                <label>@Model.Date2Name :</label>
                                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Date2Day),
   Html.FieldNameFor(x => x.Date2Day),
   Html.FieldNameFor(x => x.Date2Day),
   DateTime.Now.Year - 110,
   DateTime.Now.Year,
   Model.Date2Day,
   Model.Date2Day,
   Model.Date2Day)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.Date2Name סוף</label>
                                            </div>
                                            <div class="inputs Date2">

                                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Date2ToDay),
   Html.FieldNameFor(x => x.Date2ToDay),
   Html.FieldNameFor(x => x.Date2ToDay),
   DateTime.Now.Year - 110,
   DateTime.Now.Year,
   Model.Date2ToDay,
   Model.Date2ToDay,
   Model.Date2ToDay)

                                            </div>
                                        </div>
                                    }
                                    if (Model.Date3Enabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.Date3Name</label>
                                            </div>
                                            <div class="inputs date3">

                                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Date3Day),
   Html.FieldNameFor(x => x.Date3Day),
   Html.FieldNameFor(x => x.Date3Day),
   DateTime.Now.Year - 110,
   DateTime.Now.Year,
   Model.Date3Day,
   Model.Date3Day,
   Model.Date3Day)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.Date3Name סוף</label>
                                            </div>
                                            <div class="inputs date3">

                                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Date3ToDay),
   Html.FieldNameFor(x => x.Date3ToDay),
   Html.FieldNameFor(x => x.Date3ToDay),
   DateTime.Now.Year - 110,
   DateTime.Now.Year,
   Model.Date3ToDay,
   Model.Date3ToDay,
   Model.Date3ToDay)

                                            </div>
                                        </div>
                                    }
                                    if (Model.gift1Enabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.gift1Name</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control valid" id="gift1" name="gift1">
                                                    <option selected="selected" value="0">הכל</option>
                                                    <option value="1">כולל</option>
                                                    <option value="2">לא כולל</option>

                                                </select>

                                            </div>
                                        </div>
                                    }
                                    if (Model.gift2Enabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.gift2Name</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control valid" id="gift2" name="gift2">
                                                    <option selected="selected" value="0">הכל</option>
                                                    <option value="1">כולל</option>
                                                    <option value="2">לא כולל</option>

                                                </select>

                                            </div>
                                        </div>
                                    }
                                    if (Model.gift3Enabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.gift3Name</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control valid" id="gift3" name="gift3">
                                                    <option selected="selected" value="0">הכל</option>
                                                    <option value="1">כולל</option>
                                                    <option value="2">לא כולל</option>

                                                </select>

                                            </div>
                                        </div>
                                    }
                                    if (Model.gift4Enabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>@Model.gift4Name</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control valid" id="gift4" name="gift4">
                                                    <option selected="selected" value="0">הכל</option>
                                                    <option value="1">כולל</option>
                                                    <option value="2">לא כולל</option>

                                                </select>

                                            </div>
                                        </div>
                                    }
                                    if (Model.isPoints)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>שלח ללקוח שיש יותר נקודות מאשר:</label>
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.MinPoints)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>שלח ללקוח שיש פחות נקודות מאשר:</label>
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.MaxPoints)

                                            </div>
                                        </div>
                                    }
                                }
                                <div class="panel panel-default">
                                    <div class="panel panel-body">
                                        @if (Model.Cabm.Count > 0)
                                        {
                                            <div class="fieldset">

                                                <div class="form-fields">


                                                    @Html.Partial("_CustomerAttributes", Model.Cabm)

                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>



                                <div class="panel panel-default">
                                    <div class="panel panel-body">
                                        <div class="callout bg-gray-light">
                                            יש לבדוק היטב את הקמפיין לפני שליחתו, לפני
                                            שליחת הקמפיין יש לשלוח הודעת בדיקה.
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.TestEmail)
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    @Html.NopEditorFor(model => model.TestEmail)
                                                    <div class="input-group-btn">
                                                        <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms()" id="send-test-email">
                                                            @T("Admin.Promotions.Campaigns.SendTestEmail")
                                                        </button>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.TestEmail)
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-md-9">
                                                    <button type="submit" name="send-mass-email" class="btn btn-primary">
                                                        @T("Admin.Promotions.Campaigns.SendMassEmail")
                                                    </button>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>הודעות שנשלחו (לא כולל הודעות בדיקה):</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DisplayFor(model => model.NumOfSent)

                                    </div>
                                </div>
                    @if (Model.isSent== 0)
                    {
                                <div class="pull-left">
                                    <button type="submit" name="save" class="btn bg-blue" disabled id="save" onclick="disableSend()">
                                        שמירה לפני שליחה
                                    </button>

                                </div>
                    }


                                @*<script type="text/javascript">
                                        $(document).ready(function () {

                                            $('#send-test-email').click(function () { $("#origins").show(); $('#save').attr('disabled', false); });

                                        });
                                    </script>*@

                                @*<div class="form-group">
                                         <div class="col-md-3">
                                             @Html.NopLabelFor(model => model.CustomerRoleId)
                                         </div>
                                         <div class="col-md-9">
                                             @Html.NopDropDownListFor(model => model.CustomerRoleId, Model.AvailableCustomerRoles)
                                             @Html.ValidationMessageFor(model => model.CustomerRoleId)
                                         </div>
                                    </div>*@

                                @*@if (Model.DateOfBirthEnabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.SearchDayOfBirth)
                                            </div>
                                            <div class="col-md-8">
                                                @{
                                                    var monthOfBirthValues = new List<SelectListItem>();
                                                    monthOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Month").Text, Value = "0" });
                                                    for (int i = 1; i <= 12; i++)
                                                    {
                                                        monthOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                                    }
                                                    var dayOfBirthValues = new List<SelectListItem>();
                                                    dayOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Day").Text, Value = "0" });
                                                    for (int i = 1; i <= 31; i++)
                                                    {
                                                        dayOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                                    }
                                                }
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        @Html.NopDropDownListFor(model => model.SearchMonthOfBirth, monthOfBirthValues)
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.NopDropDownListFor(model => model.SearchDayOfBirth, dayOfBirthValues)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                    }*@

                                @*<div class="form-group">*@

                                @*<script type="text/javascript">
                                        function toggleLoadedAllowedTokens() {
                                            $('#pnlAllowedTokens').toggle();
                                            if ($('#pnlAllowedTokens').css('display') == 'none') {
                                                $('#allowedTokensShowHide').html('@T("Admin.Common.Show")');
                                            } else {
                                                $('#allowedTokensShowHide').html('@T("Admin.Common.Hide")');
                                            }
                                        }
                                    </script>*@

                                @*<div class="col-md-3">
                                        @Html.NopLabelFor(model => model.AllowedTokens)
                                    </div>*@
                                @*<div class="col-md-9">
                                        <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">@T("Admin.Common.Show")</a>
                                        <div id="pnlAllowedTokens" style="display: none">
                                            @Html.NopDisplayFor(model => model.AllowedTokens)
                                        </div>
                                    </div>*@
                                @*</div>*@
                            </div>
                        </div>
                    </div>

                </div>
    </div>
}
    @if (Model.Id > 0)

    {
        if (Model.isSent == 0)
        {

            <div class="pull-left">
                <button class="btn bg-blue" onclick="preSendCamp()">

                    שליחה שלב ראשון
                </button>
            </div>
            <div class="pull-left">
                <button name="Send" class="btn bg-green-gradient" disabled id="Send" onclick="sendCamp()">שליחה שלב שני</button>
            </div>






        }
    }


<script>
   



    function textCounter(field, cnt, maxlimit) {
        var cntfield = document.getElementById(cnt)
        console.log(field.value.length)
        //if (field.value.length > maxlimit) // if too long...trim it!
        //    field.value = field.value.substring(0, maxlimit);
            // otherwise, update 'characters left' counter
       // else
            cntfield.value = field.value.length;
    }


    function sentTestSms() {

        var Email = "";

        var body = "";

        //var withName=   document.getElementById("withName").checked
        //if(withName==true)
        //{
        //    var x99 = document.getElementById("withName");
        //    x99.value = true;
        //}
        //console.log(withName)
        if (document.getElementById("TestEmail").value)
        { Email = document.getElementById("TestEmail").value; }
        else {
            Email = "0";
        }

        //if (document.getElementById("Subject").value)
        //{ subject = document.getElementById("Subject").value; }
        //else {
        //    subject = "0";
        //}
        //console.log(document.getElementById("withName").value)
        if (document.getElementById("Body").value)
        {
            body = document.getElementById("Body").value;
        }
        else {
            body = "0";
        }


        var postData = {
            email: Email,
            body: body,
            //withName:withName

        }
            addAntiForgeryToken(postData);


            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("SendTestEmail", "Campaign")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                     $('#save').attr('disabled', false);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
    }

    function preSendCamp() {
        alert("שליחה ללקוחות מרובים האם אתה בטוח ? במידה וכן אנא לחץ על הכפתור הירוק שליחה שלב שני")
        $("#Send").attr('disabled', false);}



    function sendCamp() {
       // $("#send").hide();
        var postData = {id :  @Model.Id}

        addAntiForgeryToken(postData);
        $.ajax({
            cache: false,
            type: 'POST',
            url: '@Url.Action("send", "Campaign")',
            data: postData,
            dataType: 'json',
            success: function (data) {
                if(data.redirect=='-1'){

                }
                else{
                    location.href = "/Admin/Campaign/List";
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });




    }

    function nameMsg (){
        $xx =  $("textarea").val();
        console.log($xx)
        var zz = $xx + "[לקוח]";
        //$("textarea").val($xx + "[לקוח]");
        //var yy = $("textarea").val($xx + "[לקוח]").toString();
        yy = zz.trim();
        $("textarea").val(zz);
        event.preventDefault();
        return false;
    } 

    $(document).ready(function(){
        $trimer1 =  $("textarea").val();
        $trimer2 = $trimer1.trim();
        $("textarea").val($trimer2);
        });
 

 </script>
                        
                  
