﻿@model CampaignModel
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Campaigns.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Campaigns");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Campaigns.AddNew") 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Promotions.Campaigns.BackToList").Text, "List")</small>
        </h1>
       
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
   
}