﻿
@{ 

 
}
<div class="header">
    @Html.Widget("header")
    <div class="header-lower">
        <div class="header-logo">
            @Html.Action("Logo", "Common")
        </div>

    </div>
    <div class="header-upper">
        
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
        </div>
    </div>
    
</div>
