﻿@using System;

@using System.Web.Mvc;
@using Nop.Admin.Extensions;

@using Nop.Core;

@using System.Globalization; 
@model NewsLetterSubscriptionListModel
  

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    IWorkContext user = EngineContext.Current.Resolve<IWorkContext>();
    bool csv = false;
    string comment = user.CurrentCustomer.AdminComment;
    if(comment == "admin")
    {
        csv = true;

    }

    //page title
    ViewBag.Title = T("Admin.Promotions.newsLetterSubscriptions").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Newsletter subscriptions");
}
@if (csv)
            {
    @*<div class="panel panel-default panel-search">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.StoreId)
                        </div>
                        <div class="col-md-8">
                            @Html.NopDropDownList("StoreId", Model.AvailableStores)
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>*@
   


        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="pull-right">

            </div>
            <div class="content-header clearfix">
                <h1 class="pull-left">
                    @T("Admin.Promotions.NewsLetterSubscriptions")
                </h1>
                @if (csv)
                {
                    <div class="form-horizontal">
                        @Html.Action("StoreScopeConfiguration", "Setting")

                    </div>
                    <div class="pull-right">
                        <button type="submit" name="exportcsv" class="btn bg-green">
                            <i class="fa fa-download"></i>
                            @T("Admin.Common.ExportToCsv")
                        </button>

                        <button type="button" name="importcsv" class="btn bg-olive" data-toggle="modal" data-target="#importcsv-window">
                            <i class="fa fa-upload"></i>
                            @T("Admin.Common.ImportFromCsv")
                        </button>

                    </div>
                }
            </div>


            <div class="content">
                <div class="form-horizontal">
                    <div class="panel-group">
                        <div class="panel panel-default panel-search">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.StartDate)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.StartDate)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.EndDate)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.EndDate)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label" title="">טלפון</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.SearchEmail)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label" title="">מקור הצטרפות</label>
                                            </div>
                                            <div class="col-md-8">
                                               <select class="form-control valid" data-val="true"  id="origin" name="origin">
                                                    <option  value="0">הכל</option>
                                                    <option value="1">טבלט</option>
                                                    <option value="5">טופס אינטרנטי</option>
                                                </select>
                                                @*@Html.NopEditorFor(model => model.origin)*@

                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label" title="">שם פרטי</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopEditorFor(model => model.SearchFirstName)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label" title="">שם משפחה</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopEditorFor(model => model.SearchLastName)
                                                </div>
                                            </div>*@
                                        @*@if (Model.DateOfBirthEnabled)
                                            {
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.NopLabelFor(model => model.SearchDayOfBirth)
                                                    </div>
                                                    <div class="col-md-8">
                                                        @{
                                                            var monthOfBirthValues = new List<SelectListItem>();
                                                            monthOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Month").Text, Value = "0" });
                                                            for (int i = 1; i <= 12; i++)
                                                            {
                                                                monthOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                                            }
                                                            var dayOfBirthValues = new List<SelectListItem>();
                                                            dayOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Day").Text, Value = "0" });
                                                            for (int i = 1; i <= 31; i++)
                                                            {
                                                                dayOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                                            }
                                                        }
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.NopDropDownListFor(model => model.SearchMonthOfBirth, monthOfBirthValues)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDropDownListFor(model => model.SearchDayOfBirth, dayOfBirthValues)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                            }*@
                                        @*<div class="form-group">
                                                <div class="col-md-4">
                                                    @Html.NopLabelFor(model => model.SearchEmail)
                                                </div>
                                                <div class="col-md-8">
                                                  <label>טלפון</label>  @Html.NopEditorFor(model => model.SearchEmail)
                                                </div>
                                            </div>*@
                                        @*<div class="form-group">
                                                <div class="col-md-4">
                                                    @Html.NopLabelFor(model => model.ActiveId)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopDropDownList("ActiveId", Model.ActiveList)
                                                </div>
                                            </div>*@
                                        @*<div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                                <div class="col-md-4">
                                                    @Html.NopLabelFor(model => model.StoreId)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopDropDownList("StoreId", Model.AvailableStores)
                                                </div>
                                            </div>*@
                                        @*<div class="form-group" >
                                                <div class="col-md-4">
                                                    @Html.NopLabelFor(model => model.StoreId)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopDropDownList("StoreId", Model.AvailableStores)
                                                </div>
                                            </div>*@
                                        @*<div class="form-group">
                                                <div class="col-md-4">
                                                    @Html.NopLabelFor(model => model.CustomerRoleId)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopDropDownList("CustomerRoleId", Model.AvailableCustomerRoles)
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-4">
                                                <button type="button" id="search-subscriptions" class="btn btn-primary btn-search">
                                                    <i class="fa fa-search"></i>
                                                    @T("Admin.Common.Search")
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="newsletter-subscriptions-grid"></div>

                                <script>
                                    $(document).ready(function() {
                                        $("#newsletter-subscriptions-grid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("SubscriptionList", "NewsLetterSubscription"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: additionalData
                                                    },
                                                    update: {
                                                        url: "@Html.Raw(Url.Action("SubscriptionUpdate", "NewsLetterSubscription"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: addAntiForgeryToken
                                                    },
                                                    destroy: {
                                                        url: "@Html.Raw(Url.Action("SubscriptionDelete", "NewsLetterSubscription"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: addAntiForgeryToken
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors",
                                                    model: {
                                                        id: "Id",
                                                        fields: {
                                                            Email: { editable: false, type: "string" },
                                                            FirstName: { editable: false, type: "string" },
                                                            LastName: { editable: false, type: "string" },
                                                            Active: { editable: false, type: "boolean" },
                                                            StoreName: { editable: false, type: "string" },
                                                            CreatedOn: { editable: false, type: "date" }
                                                          
                                                        }
                                                    }
                                                },
                                                requestEnd: function(e) {
                                                    if (e.type == "update") {
                                                        this.read();
                                                    }
                                                },
                                                error: function(e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(defaultGridPageSize),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            editable: {
                                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                                mode: "inline"
                                            },
                                            scrollable: false,
                                            columns: [
                                                {
                                                    field: "Email",
                                                    title: "טלפון",
                                                    width: 200
                                                }, {
                                                    field: "FirstName",
                                                    title: "שם פרטי",
                                                    width: 200
                                                },{
                                                    field: "LastName",
                                                    title: "שם משפחה",
                                                    width: 200
                                                },  {
                                                    field: "CreatedOn",
                                                    title: "@T("Admin.Promotions.NewsLetterSubscriptions.Fields.CreatedOn")",
                                                    width: 200,
                                                    type: "date",
                                                    format: "{0:G}"
                                                },
                                                {
                                                    field: "Id",
                                                    title: "@T("Admin.Common.Edit")",
                                                    width: 50,
                                                    template: '<a href="Edit/#=Email#">@T("Admin.Common.Edit")</a>'
                                                }
                                            ]
                                        });
                                    });
                                </script>

                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $('#search-subscriptions').click(function() {
                                            var grid = $('#newsletter-subscriptions-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            return false;
                                        });

                                        $("#@Html.FieldIdFor(model => model.SearchEmail)").keydown(function(event) {
                                            if (event.keyCode == 13) {
                                                $("#search-subscriptions").click();
                                                return false;
                                            }
                                        });
                                    });

                                    function additionalData() {
                                        var data = {
                                            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                                            ActiveId: true,
                                            StoreId: $('#@Html.FieldIdFor(model => model.StoreId)').val(),
                                            CustomerRoleId: 0,
                                            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
                                            origin: $('#@Html.FieldIdFor(model => model.origin)').val()

                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*import emails form*@
        <div id="importcsv-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importcsv-window-title">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="importcsv-window-title">@T("Admin.Common.ImportFromCsv")</h4>
                    </div>
                    @using (Html.BeginForm("ImportCsv", "NewsLetterSubscription", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-horizontal">
                            <div class="modal-body">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <div class="label-wrapper">
                                            <label class="control-label">
                                                @T("Admin.Common.CsvFile")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="file" id="importcsvfile" name="importcsvfile" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    @T("Admin.Common.ImportFromCsv")
                                </button>
                            </div>
                        </div>
                    }
             
                </div>
            </div>
        </div>
        <script>
            function ex() {

                var postStoreIdToNLS = {
                    storeId:$('#StoreId option:selected').val()
                };
                addAntiForgeryToken(postStoreIdToNLS);
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("ExportCsv", "NewsLetterSubscription")',
                    data: postStoreIdToNLS,
                    dataType: 'json',
                    success: function(data) {

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('פעולה נכשלה, שגיעת מערכת.');
                    }
                });
                return data;
            }
        </script>
