﻿@model StoreModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@{

    string hstore = "/" + Model.Id.ToString() + "/" + "home";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SslEnabled)").click(toggleSslEnabled);
        toggleSslEnabled();
    });

    function toggleSslEnabled() {
        if ($('#@Html.FieldIdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        } else {
            $('#pnlSecureUrl').hide();
        }
    }
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.LocalizedEditor<StoreModel, StoreLocalizedModel>("store-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Locales[item].Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Locales[item].Name)
                                @Html.ValidationMessageFor(model => model.Locales[item].Name)
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Locales[item].LanguageId)
                    </div>
    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>




    ))
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Url)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Url)
                            @Html.ValidationMessageFor(model => model.Url)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SslEnabled)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SslEnabled)
                            @Html.ValidationMessageFor(model => model.SslEnabled)
                        </div>
                    </div>




                    <div class="col-md-9">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" name="send-test-email" class="btn btn-info" href=@hstore id="send-test-email">
                                    לחנות
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">     חנות פעילה: לסמן ע"מ להפעיל החנת )</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Active)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="">צבע rgb: rgb(100,100,100)</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.rgb)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">פעילות פייסבוק</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.isFacebook)

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title=""> URL</label><div class="ico-help" title="הזן שם חברה לצרכים פנימיים"><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Url )
                            @Html.ValidationMessageFor(model => model.Url)
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">שם חברה לצרכים פנימיים</label><div class="ico-help" title="הזן שם חברה לצרכים פנימיים"><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyName)
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyAddress)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyAddress)
                            @Html.ValidationMessageFor(model => model.CompanyAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyPhoneNumber" title="">מספר טלפון של חברה לצרכים פנימיים</label><div class="ico-help" title="הזן מספר טלפון של חברה"><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyPhoneNumber)
                            @Html.ValidationMessageFor(model => model.CompanyPhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">טלפון\כותר SMS באנגלית בלבד</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.preMsg)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">  טלפוןנים אנשי קשר לשליחת הודעות מופרדים ב ;</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.contactPhone)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">sms userName in4U</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SmsUserName)
                            @Html.ValidationMessageFor(model => model.SmsUserName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">sms password in4U</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SmsPass)
                            @Html.ValidationMessageFor(model => model.SmsPass)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">מספר להסרה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.smsRemovalLink)

                        </div>
                    </div>
                    <button type="submit" name="save-continue" class="btn bg-blue">
                        <i class="fa fa-floppy-o"></i>
                        @T("Admin.Common.SaveContinue")
                    </button>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">מין</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.GenderEnabled)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הצג תאריך יום הולדת</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DateOfBirthEnabled)
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">  חובה תאריך יום הולדת</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DateOfBirthEnabled)

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הצג תאריך 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.date2Enabled)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">תאריך 2 חובה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.date2Required)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">תאריך 2 שם השדה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
 
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.date2Name)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אפשר תאריך 3</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
 
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.date3Enabled)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">תאריך 3 חובה </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.date3Required)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">תאריך 3 חובה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.date3Name)

                        </div>
                    </div>

                    
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אפשר שדה בחירה מרובה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.multiField)

                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">בחירה מרובה שם השדה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.multiFieldName)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">בחירה מרובה אפשרות 1</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check1)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title=""> בחירה מרובה אפשרות 1 שם </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check1String)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">בחירה מרובה אפשרות 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check2)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title=""> בחירה מרובה אפשרות 2 שם </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check2String)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">בחירה מרובה אפשרות 3</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check3)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title=""> בחירה מרובה אפשרות 3 שם </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check3String)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">בחירה מרובה אפשרות 4</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check4)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title=""> בחירה מרובה אפשרות 4 שם </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check4String)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">בחירה מרובה אפשרות 5</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check5)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title=""> בחירה מרובה אפשרות 5 שם </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.check5String)

                        </div>
                    </div>

                    







                    @*<div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <em>@T("Admin.Configuration.Stores.Fields.SslEnabled.Hint2")</em>
                        </div>
                    </div>
                    <div class="form-group" id="pnlSecureUrl">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SecureUrl)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SecureUrl)
                            @Html.ValidationMessageFor(model => model.SecureUrl)
                        </div>
                    </div>*@
                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Hosts)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Hosts)
                            @Html.ValidationMessageFor(model => model.Hosts)
                        </div>
                    </div>*@
                    
                   
                   
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת הרשמה  ($N$ שם פרטי)</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.welcomeMsg)
                            @Html.ValidationMessageFor(model => model.welcomeMsg)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="" style="color:blue;">מספר טלפון לבדיקת הודעת הרשמה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="TestSmsWelcomeMsg" name="TestSmsWelcomeMsg" type="text" value="">
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('welcomeMsg', 'TestSmsWelcomeMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">מילה לפני שם בראש הודעה בקמפניי לקוח בלבד:</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.preFirstNameMsg)

                        </div>
                    </div>
                   

                    <div class="form-group">
                        <div class="col-md-3">
                           
                                <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אפשר צבירת נקודות: </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                            </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.isPoints)

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אחוז  צבירת נקודות: </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.sum2PointsCoefficient)
                            @Html.ValidationMessageFor(model => model.sum2PointsCoefficient)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">מספר הנקודות שנתנות בהרשמה: </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.pointsOnReg)

                        </div>
                    </div>
                    

                    <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">$N$ = שם פרטי</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                    <label for="">   נקודות שנצברו בקניה = $U$   </label>
                    <label for="">  נקודות שמומשו בקניה = $D$   </label>
                    <label for="">   נקודות סהכ עד עכשיו = $P$   </label>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת צבירת נקודות כאשר לא מומשו נקודות : </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.pointsMsg)
                            
                        </div>
                        </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" style="color:blue;" title="">הודעת צבירת נקודות כאשר לא מומשו נקודות בדיקה : </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="TestSmspointsMsg" name="TestSmspointsMsg" type="text" value="">
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('pointsMsg','TestSmspointsMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת צבירת נקודות כללית</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.pointsMsg2)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="" style="color:blue;">הודעת בדיקה: צבירת נקודות כללית </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input class="form-control text-box single-line" id="TestSmspointsMsg2" name="TestSmspointsMsg2" type="text" value="">
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('pointsMsg2','TestSmspointsMsg2')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    

                      

                   

                  

                  

                    

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אפשר מתנה מס1: מתנת יום הולדת</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift1)
                            
                        </div>
                    </div>
                    <div class="form-group">
                        
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">שם מתנה מס1: מתנת יום הולדת</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                            </div>
                        
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift1Name)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת סמס בממוש מתנה מס' 1</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift1Msg)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" style="color:blue;" title="" >בדיקת הודעה מס'1 : </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('gift1Msg','TestSmspointsMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אפשר מתנה מס2: מתנת הצטרפות</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                            </div>
                       
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift2)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">שם מתנה מס' 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift2Name)

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">תן מתנה מס' 2 בהצטרפות</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
 
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift2OnReg)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">תן מתנה מס' 2 בתאריך 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift2OnDate2)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת סמס בממוש מתנה מס' 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift2Msg)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" style="color:blue;" title="">בדיקת הודעה מס'2 : </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">

                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('gift2Msg','TestSmsWelcomeMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    @*<div class="form-group">
                        <div class="col-md-9">
                            <label for="">אפשר מתנה מס' 3:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift3)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">שם מתנה מס' 3:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift3Name)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">SMS מתנה מס' 3:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift3Msg)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">אפשר מתנה מס' 4:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift4)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">שם מתנה מס' 4:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift4Name)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">SMS מתנה מס' 4:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.gift4Msg)

                        </div>
                    </div>*@

                   

                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">   מספר השעות עד לשליחת הודעת רוטניות כאשר שעת הייחוס היא בין חצות ל4 בבוקר:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.rutineSmSTimeOffset)

                        </div>
                    </div>
                   

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">שלח סמס יום הולדת בתחילת החודש</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SmsOnBday)

                        </div>
                    </div>
                    <div class="form-group">
                       
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת סמס יום הולדת</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                            </div>
                      
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.BdaySmS)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" style="color:blue;" title="">בדיקת סמס יום הולדת: </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('BdaySmS','TestSmsWelcomeMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">אפשר הודעת סמס רוטינית בתאריך 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SmsOnDate2)
                           
                        </div>
                    </div>
                    <div class="form-group">
                       
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת סמס רוטינית בתאריך 2</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                            </div>
                       
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.periodicMsg2)
                            @Html.ValidationMessageFor(model => model.periodicMsg2)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" style="color:blue;" title="">בדיקת סמס יום הולדת: </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('periodicMsg2','TestSmsWelcomeMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" title="">הודעת תפוגת מתנה ב 20 לחודש $GIFT$ = שם מתנה</label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.days2GiftEndMsg)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="CompanyAddress" style="color:blue;" title="">בדיקת סמס יום הולדת סוף חודש: </label><div class="ico-help" title=""><i class="fa fa-question-circle"></i></div></div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms('days2GiftEndMsg','TestSmsWelcomeMsg')" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">  שלח סמס לאחר מספר חודשים מביקור אחרון:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SendSmSFromLastVisit)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">   חודשים מביקור אחרון:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MonthsFromLastVisit)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">   הודעת ביקור אחרון:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MsgLastVisit)

                        </div>
                    </div>

                    @*<div class="form-group">
                        <div class="col-md-3">
                            <label for="">  הודעת ביקור אחרון בדיקה :</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.NopEditorFor(model => model.TestEmail)
                                <div class="input-group-btn">
                                    <button type="button" name="send-test-email" class="btn btn-info" onclick="sentTestSms()" id="send-test-email">
                                        @T("Admin.Promotions.Campaigns.SendTestEmail")
                                    </button>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.TestEmail)
                        </div>
                    </div>*@

                    @*<div class="form-group">
                        <div class="col-md-9">
                            <label for="">מספר ימים הימים לפני הודעת תפוגת הודעה (להשאיר ריק במידה ולא):</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.days2GiftEnd)

                        </div>
                    </div>*@
                    
                    
                    

                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">   הודעה שבועית לאנשי קשר חנות:</label>
                        </div>
                        <label for=""> $total$  $month$  $week$= מצטרפים השבוע :</label>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.contactMsg)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9">
                            <label for="">   הודעה חודשית לאנשי קשר חנות:</label>
                        </div>
                        <label for=""> $visit$  $date2$  $bday$ :</label>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.contactMsgMonth)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DefaultLanguageId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.DefaultLanguageId, Model.AvailableLanguages)
                            @Html.ValidationMessageFor(model => model.DefaultLanguageId)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Api_Custom_1)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Api_Custom_1)
                            @Html.ValidationMessageFor(model => model.Api_Custom_1)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Api_user)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Api_user)
                            @Html.ValidationMessageFor(model => model.Api_user)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Api_pass)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Api_pass)
                            @Html.ValidationMessageFor(model => model.Api_pass)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AllowTZ)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.AllowTZ)
                          
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SearchByTZ)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SearchByTZ)
                    
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.TZ)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.TZ)
                           
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AllowRealEmail)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.AllowRealEmail)

                        </div>
                    </div>

                    
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function sentTestSms(fieldName,testName) {

        var Email = "";

        var body = "";
        console.log(document.getElementById(testName).value)
        console.log(document.getElementById(fieldName).value)
        if (document.getElementById(testName).value)
        { Email = document.getElementById(testName).value; }
        else {
            Email = "0";
        }

        console.log(document.getElementById(fieldName).value)
        if (document.getElementById(fieldName).value) {
            body = document.getElementById(fieldName).value;
        }
       


        var postData = {
            email: Email,
            body: body,
            id: @Model.Id,
            

        }
        addAntiForgeryToken(postData);


        $.ajax({
            cache: false,
            type: 'POST',
            url: '@Url.Action("SendTestEmail", "Store")',
            data: postData,
            dataType: 'json',
            success: function (data) {
                $('#save').attr('disabled', false);;
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }
</script>
