﻿@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@{
    //var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    //Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    //var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    //if (commonSettings.RenderXuaCompatible)
    //{
    //    Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    //}
    ////custom tag(s)
    //var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    //if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    //{
    //    Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    //}
}
<!DOCTYPE html>
<html@(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
    <title>מועדון לקוחות</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @*@Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")*@
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @*@if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }*@
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <link rel="stylesheet" href="~/themes/DefaultClean/Content/css/font-awesome.min.css" />
</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)

    @Html.NopScripts(this.Url, ResourceLocation.Foot)
<script>

    var idleTime = 0;
    $(document).ready(function () {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 0) { // 20 minutes
            nop()
        }
    }

    function nop() {

       
        var postData = {
            nop: 1}
           
            addAntiForgeryToken(postData);
            console.log(postData)

            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("nop", "home")',
                data: postData,
                dataType: 'json',
                success: function (data) {

                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }
    
</script>
</body>
</html>
