﻿@model CommonStatisticsModel
@using Nop.Core
@using Nop.Services.Common

@{
    const string panelId = "nopcommerce-common-statistics-box";
    const string hidePanelAttributeName = "HideCommonStatisticsPanel";
    var hidePanel = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.GetAttribute<bool>(hidePanelAttributeName);
}

<div class="box box-info @if(hidePanel){<text>collapsed-box</text>}" id="@panelId">
    <div class="box-header with-border clearfix">
        <div class="box-title">
            <i class="fa ion-stats-bars"></i>
            @T("Admin.Dashboard.CommonStatistics")
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                @if (hidePanel)
                {
                    <text><i class="fa fa-plus"></i></text>
                }
                else
                {
                    <text><i class="fa fa-minus"></i></text>
                }
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.NumberOfCustomers</h3>
                    <p>מס' לקוחות</p>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.weeklyCustomerCountInt</h3>
                    <p>לקוחות שהצטרפו השבוע</p>
                </div>
              
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green-active">
                <div class="inner">
                    <h3>@Model.monthlyCustomerCount</h3>
                    <p>לקוחות שהצטרפו  החודש</p>
                </div>
              
            </div>
        </div>
        @if (Model.gift1)
        {
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3>@Model.BdayMsgSentInLastRutine</h3>
                        <p>הודעות יום הולדת שנשלחו החודש</p>
                    </div>
                    @*<div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>*@
                    @*<a href="@Url.Action("LowStockReport", "Product")" class="small-box-footer">
                            @T("Admin.Dashboard.MoreInfo")
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>*@
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.gift1Imps</h3>
                        <p>מתנות יום הולדת שמומשו החודש</p>
                    </div>
                    @*<div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>*@
                    @*<a href="@Url.Action("LowStockReport", "Product")" class="small-box-footer">
                            @T("Admin.Dashboard.MoreInfo")
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>*@
                </div>
            </div>
        }
        @if (Model.gift2)
        {
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>@Model.Date2MsgSentInLastRutine</h3>
                        <p>  הודעות ימי נישואין  שנשלחו החודש</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.gift2Imps</h3>
                        <p>  מתנות ימי נישואין  שמומשו החודש</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                </div>
            </div>
        }
        @if (Model.pointImpsVisits != 0)
        {
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple-active">
                    <div class="inner">
                        <h3>@Model.pointImpsVisits</h3>
                        <p>ביקורים בהם מומשו נקודות החודש</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>@Model.pointImpsSum</h3>
                        <p>מספר הנקודות שמומשו החודש</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                </div>
            </div>

        }
        @if (Model.totalCustomersPoints > 0)
        {
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>@Model.totalCustomersPoints</h3>
                        <p>כמות הנקודות שנמצאת אצל כלל הלקוחות</p>
                    </div>
                  

                </div>
            </div>

        }


        <script>
            $(document).ready(function () {
                $('#@panelId').on('click', 'button[data-widget="collapse"]', function () {
                    var collapsed = !$('#@panelId').hasClass('collapsed-box');
                    saveUserPreferences('@(Url.Action("SavePreference", "Preferences"))', '@hidePanelAttributeName', collapsed);
                });
            });
        </script>
    </div>
</div>