﻿
@using Nop.Core
@using Nop.Services.Common

@{
    const string panelId = "nopcommerce-common-statistics-box";
    const string hidePanelAttributeName = "HideCommonStatisticsPanel";
    int storeId = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.StoreId;
}

@if (storeId == 2)
{ 
<div class="box box-info" id="@panelId">
    <div class="box-header with-border clearfix">
        
        <div class="box-tools pull-right">
           
        </div>
    </div>
    
    <div class="box-body">
        <div class="col-lg-3 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner" >
                    
                    <h3><a href="/Admin/Campaign/Create" style="color:white;">שליחת מסרונים </a><i class="fa fa-paper-plane-o" aria-hidden="true"></i></h3>
                    
                    
                </div>

            </div>
        </div>
    </div>



    <div class="box box-info" id="@panelId">
        <div class="box-header with-border clearfix">
            <div class="box-title">
                <i class="fa ion-stats-bars"></i>
                @T("Admin.Dashboard.CommonStatistics")
            </div>
            
        </div>
        <div class="box-body">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>684</h3>
                        <p>מס' לקוחות</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>72</h3>
                        <p>לקוחות שהצטרפו השבוע</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green-active">
                    <div class="inner">
                        <h3>92</h3>
                        <p>לקוחות שהצטרפו  החודש</p>
                    </div>

                </div>
            </div>
            
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-orange">
                        <div class="inner">
                            <h3>33</h3>
                            <p>הודעות יום הולדת שנשלחו החודש</p>
                        </div>
                        @*<div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>*@
                        @*<a href="@Url.Action("LowStockReport", "Product")" class="small-box-footer">
                                @T("Admin.Dashboard.MoreInfo")
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>*@
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>17</h3>
                            <p>מתנות יום הולדת שמומשו החודש</p>
                        </div>
                        @*<div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>*@
                        @*<a href="@Url.Action("LowStockReport", "Product")" class="small-box-footer">
                                @T("Admin.Dashboard.MoreInfo")
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>*@
                    </div>
                </div>
            
          
            
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>11</h3>
                            <p>  הודעות ימי נישואין  שנשלחו החודש</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>5</h3>
                            <p>  מתנות ימי נישואין  שמומשו החודש</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>

                    </div>
                </div>
            
           
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-purple-active">
                        <div class="inner">
                            <h3>22</h3>
                            <p>ביקורים בהם מומשו נקודות החודש</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>842</h3>
                            <p>מספר הנקודות שמומשו החודש</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>

                    </div>
                </div>

            
            
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3>10432</h3>
                            <p>כמות הנקודות שנמצאת אצל כלל הלקוחות</p>
                        </div>


                    </div>
                </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>7</h3>
                        <p>הסירו עצמם</p>
                    </div>


                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue-active">
                    <div class="inner">
                        <h3>42</h3>
                        <p>נרשמו בפייסבוק</p>
                    </div>


                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3>66</h3>
                        <p>נרשמו בלינק</p>
                    </div>


                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua-gradient">
                    <div class="inner">
                        <h3>71</h3>
                        <p>יובאו למערכת</p>
                    </div>


                </div>
            </div>
            </div>
        </div>
    </div>
    

           


            
        
        



}