﻿@model CommonStatisticsModel

@using Nop.Services.Security
@using Nop.Core


@{
    Html.AppendCssFileParts("~/Administration/Content/ionicons/css/ionicons-2.0.1.min.css");

    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
    var canManageReturnRequests = permissionService.Authorize(StandardPermissionProvider.ManageReturnRequests);
    const string panelId = "nopcommerce-common-statistics-box";
    const string hidePanelAttributeName = "HideCommonStatisticsPanel";
    bool admin = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.AdminComment == "admin";
 

}

@Html.AntiForgeryToken()
<div class="content-header">
    <h1>
        @T("Admin.Dashboard")
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">

            @Html.Widget("admin_dashboard_news_after")

            <div class="row">
                <div class="col-md-12">
                    <div class="box-body">
                        <div class="col-lg-3 col-xs-12">
                            <div class="small-box bg-aqua">
                                <div class="inner">

                                    <h3><a href="/Admin/Campaign/Create" style="color:white;">שליחת מסרונים </a><i class="fa fa-paper-plane-o" aria-hidden="true"></i></h3>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-3 col-xs-12">
                            <div class="small-box bg-green">
                                <div class="inner">

                                    <h3><a href="/Admin/Campaign/List" style="color:white;">רשימת קמפיינים</a><i class="fa fa-podcast" aria-hidden="true"></i></h3>


                                </div>

                            </div>
                        </div>
                    </div>
                    @if (admin)
                    {
                        <div class="box-body">
                            <div class="col-lg-3 col-xs-12">
                                <div class="small-box bg-green">
                                    <div class="inner">

                                        <h3><a href="/Admin/Store/List" style="color:white;">רשימת חנויות</a></h3>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-3 col-xs-12">
                                <div class="small-box bg-green">
                                    <div class="inner">

                                        <h3><a href="/Admin/Customer/List" style="color:white;">יצירת שם משתמש וססמא ללקוחות</a></h3>


                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="col-lg-3 col-xs-12">
                                <div class="small-box bg-green">
                                    <div class="inner">

                                        <h3><a href="/Admin/Setting/GeneralCommon" style="color:white;">העלאת לוגו</a></h3>


                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="box-body">
                            <div class="col-lg-3 col-xs-12">
                                <div class="small-box bg-green">
                                    <div class="inner">

                                        <h3><a href="/Admin/Setting/CustomerUser" style="color:white;">יצירת שדות הרשמה כולל שדה "מוכר" בצבירה</a></h3>


                                    </div>

                                </div>
                            </div>
                        </div>

                    }
                        <div class="box box-info" id="@panelId">
                            <div class="box-header with-border clearfix">

                                <div class="box-tools pull-right">

                                </div>
                            </div>



                            <div class="box box-info" id="@panelId">
                                <div class="box-header with-border clearfix">

                                    <div class="box-title">
                                        <i class="fa fa-user"></i>
                                        לקוחות
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div class="col-lg-3 col-xs-12">
                                        <div class="small-box bg-blue-gradient">
                                            
                                            <div class="inner">
                                                <a href="/Admin//NewsLetterSubscription/List">   <h3 style="color:white">לקוחות רשומים: @Model.NumberOfCustomers </h3></a>

</div>

                                        </div>
                                    </div>
                                </div>
                                @*<div class="box-body">
                                    <div class="col-lg-3 col-xs-12">
                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3>הצטרפו השבוע: @Model.w</h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="box-body">
                                    <div class="col-lg-3 col-xs-12">
                                        <div class="small-box bg-green-active">
                                            <div class="inner">
                                                <h3>הצטרפו החודש: 92</h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="box-body">
                                    <div class="col-lg-3 col-xs-12">
                                        <div class="small-box bg-blue-gradient">
                                            <div class="inner">
                                                <h3>נרשמו בפייסבוק: 42</h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="box-body">
                                    <div class="col-lg-3 col-xs-12">
                                        <div class="small-box bg-fuchsia-active">
                                            <div class="inner">
                                                <h3>נרשמו בלינק: 66</h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="box-body">
                                    <div class="col-lg-3 col-xs-12">
                                        <div class="small-box bg-red">
                                            <div class="inner">
                                                <h3>הסירו עצמם: 7</h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>*@
                            </div>






                            <div class="box box-info" id="@panelId">
                                <div class="box-header with-border clearfix">
                                    <div class="box-title">
                                        <i class="fa ion-stats-bars"></i>
                                        @T("Admin.Dashboard.CommonStatistics")
                                    </div>

                                </div>
                                <div class="box-body">



                                   @if (Model.SmsOnBday)
                                   {
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-orange">
                                            <div class="inner">
                                                <h3>@Model.BdayMsgSentInLastRutine</h3>
                                                <p>הודעות יום הולדת שנשלחו החודש</p>
                                            </div>
                                            @*<div class="icon">
                                                    <i class="ion ion-pie-graph"></i>
                                                </div>*@
                                            @*<a href="@Url.Action("LowStockReport", "Product")" class="small-box-footer">
                                                    @T("Admin.Dashboard.MoreInfo")
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </a>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3>@Model.gift1Imps</h3>
                                                <p>מתנות יום הולדת שמומשו החודש</p>
                                            </div>
                                            
                                            @*<div class="icon">
                                                    <i class="ion ion-pie-graph"></i>
                                                </div>*@
                                            @*<a href="@Url.Action("LowStockReport", "Product")" class="small-box-footer">
                                                    @T("Admin.Dashboard.MoreInfo")
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </a>*@
                                        </div>
                                    </div>
                                   }



                                    @*<div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-blue">
                                            <div class="inner">
                                                <h3>11</h3>
                                                <p>  הודעות ימי נישואין  שנשלחו החודש</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-green">
                                            <div class="inner">
                                                <h3>5</h3>
                                                <p>  מתנות ימי נישואין  שמומשו החודש</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>

                                        </div>
                                    </div>*@

                                    @if (Model.isPoints)
                                    {
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-purple-active">
                                            <div class="inner">
                                                <h3>@Model.pointImpsVisits</h3>
                                                <p>ביקורים בהם מומשו נקודות החודש</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-blue">
                                            <div class="inner">
                                                <a href="/Admin/history/List">
                                                    <h3 style="color:white;">@Model.pointImpsSum</h3></a>
                                                    <p>מספר הנקודות שמומשו החודש</p>
</div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-purple">
                                            <div class="inner">
                                                <h3>@Model.totalCustomersPoints</h3>
                                                <p>כמות הנקודות שנמצאת אצל כלל הלקוחות</p>
                                            </div>


                                        </div>
                                    </div>
                                    }




                                    @*<div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-aqua-gradient">
                                            <div class="inner">
                                                <h3>71</h3>
                                                <p>יובאו למערכת</p>
                                            </div>


                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>











                    
                </div>
            </div>
            @Html.Widget("admin_dashboard_commonstatistics_after")
            <div class="row">
              
                    <div class="col-md-6">
                        @Html.Action("NlsStatistics", "NewsLetterSubscription")
                    </div>
                
            </div>
            @if (Model.isFacebook)
            {
            @Html.Widget("admin_dashboard_commonstatistics_after")
            <div class="row">

                <div class="col-md-6">
                    @Html.Action("NlsFacebookStatistics", "NewsLetterSubscription")
                </div>

            </div>
            }


            @Html.Widget("admin_dashboard_commonstatistics_after")
            <div class="row">

                <div class="col-md-6">
                    @Html.Action("VisitsStatistics", "History")
                </div>

            </div>
            
            @if (Model.isPoints)
            {
             @Html.Widget("admin_dashboard_commonstatistics_after")
            <div class="row">

                <div class="col-md-6">
                    @Html.Action("SumsStatistics", "History")
                </div>

            </div>



            @Html.Widget("admin_dashboard_commonstatistics_after")
            <div class="row">

                <div class="col-md-6">
                    @Html.Action("DicsStatistics", "History")
                </div>

            </div>
            }


            @Html.Widget("admin_dashboard_commonstatistics_after")
            <div class="row">

                <div class="col-md-6">
                    @Html.Action("GiftsStatistics", "History")
                </div>

            </div>



            @*@Html.Widget("admin_dashboard_commonstatistics_after")
                @if (!Model.IsLoggedInAsVendor && (canManageOrders || canManageCustomers))
                {
                    <div class="row">
                        @if (!Model.IsLoggedInAsVendor && canManageOrders)
                        {
                            <div class="col-md-6">
                                @Html.Action("OrderStatistics", "Order")
                            </div>
                        }
                        @if (!Model.IsLoggedInAsVendor && canManageCustomers)
                        {
                            <div class="col-md-6">
                                @Html.Action("CustomerStatistics", "Customer")
                            </div>
                        }
                    </div>
                }
                @Html.Widget("admin_dashboard_customerordercharts_after")
                @if (!Model.IsLoggedInAsVendor && canManageOrders)
                {
                    <div class="row">
                        <div class="col-md-8">
                            @Html.Action("OrderAverageReport", "Order")
                        </div>
                        <div class="col-md-4">
                            @Html.Action("OrderIncompleteReport", "Order")
                        </div>
                    </div>
                }
                @Html.Widget("admin_dashboard_orderreports_after")
                @if (!Model.IsLoggedInAsVendor && (canManageOrders || canManageProducts))
                {
                    <div class="row">
                        @if (canManageOrders)
                        {
                            <div class="col-md-8">
                                @Html.Action("LatestOrders", "Order")
                            </div>
                        }
                        <div class="col-md-4">
                            @if (canManageProducts)
                            {
                                @Html.Action("PopularSearchTermsReport", "Common")
                            }
                        </div>
                    </div>
                }
                @Html.Widget("admin_dashboard_latestorders_searchterms_after")
                @if (canManageOrders)
                {
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Action("BestsellersBriefReportByQuantity", "Order")
                        </div>
                        <div class="col-md-6">
                            @Html.Action("BestsellersBriefReportByAmount", "Order")
                        </div>
                    </div>
                }*@
            @Html.Widget("admin_dashboard_bottom")
        </div>
    </div>
</div>
