﻿
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
  
}

        
    
      
        
            <div class="footer-powered-by">
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Please find more info at http://www.nopcommerce.com/copyrightremoval.aspx*@
                Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
            </div>
        
    