﻿
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
    //string storeId = "/" + Model.storeID.ToString();
    var rawUrl = this.Context.Request.RawUrl;
    string[] r2 = rawUrl.Split('/');


    string r1 = r2[1];
    int r3 = Int32.Parse(r1);
}
@using (Html.BeginForm(new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
{
    @Html.AntiForgeryToken()
    <div class="page registration-result-page">
        <div class="page-title">
            <h1 style="color:red; font-size:36px;">  הלקוח הסיר עצמו מרשימת תפוצה בעבר, יש לפנות לשירות לקוחות עם מספר הטלפון</h1>
        </div>
        <div class="page-body">
            <div class="result">
                הלקוח הסיר עצמו מרשימת תפוצה בעבר, יש לפנות לשירות לקוחות עם מספר הטלפון
            </div>
            <div class="buttons">
                <input type="button" class="button-1 register-next-step-button" onclick="home()" value="@T("Account.Register.Result.Continue")" />
            </div>
        </div>
    </div>
}
<script>
    

    console.log(@r3)
    function home() {

        console.log("gfdgdf")
        window.location.href = "/@r3/home";

    }
</script>