﻿@model StoreModel
@using System.Net.Http;
@using Nop.Web.Models.Home;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    string storeId = "/" + Model.id.ToString();
    string register = storeId + "/" + "Register";
    string findSubscription = storeId + "/" + "findSubscription";
    string inc = storeId + "/" + "inc";
    string stat = storeId + "/" + "stat";
    string rgb = Model.rgb;
    if (String.IsNullOrWhiteSpace(rgb)) { rgb = "rgb(244, 117, 33)"; }
}
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information" style="margin-bottom:30px;  border-radius: 2px; background-color:@rgb!important;-webkit-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 1); width: 100%; max-width: 350px; line-height: 49px; color:white;">
            <div class="title">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <a href="@register" >הרשמה</a>
               
               
            </div>

        </div>
       
        @if (Model.isPoints)
        {
            <div class="footer-block information" style="margin-bottom:30px;  border-radius: 2px; background-color:@rgb!important;-webkit-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 1); width: 100%; max-width: 350px; line-height: 49px; color:white;">

                <div class="title" id="title2">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                   <a href="@findSubscription"  style="padding-right:0">מימוש נקודות\מתנות</a>
                </div>

            </div>
        }
        else
        {


            <div class="footer-block information" style="margin-bottom:30px;  border-radius: 2px; background-color:@rgb!important;-webkit-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 1); width: 100%; max-width: 350px; line-height: 49px; color:white;">

                <div class="title" id="title2">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                     <a href="@findSubscription" style="padding-right:0">מימוש מתנות</a>
                </div>

            </div>


        }
        @*<div class="footer-block information">
            <div class="title">
                <a href="@inc">הכנסת קניית לקוח</a>
            </div>

        </div>*@
       
        @*<div class="footer-block information" style="margin-bottom:30px">
            <div class="title">
                <a>ניהול</a>
            </div>

        </div>*@
        <div class="footer-block information" style="margin-bottom:30px;  border-radius: 2px; background-color:@rgb!important;-webkit-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 1); width: 100%; max-width: 350px; line-height: 49px; color:white;">

            <div class="title" id="title3">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                 <a style="padding-right:0px">נתוני מועדון</a>

            </div>
            <ul class="list" style="color:black;">
                <li>חברי מועדון:  @Model.NumberOfCustomers</li>
                <li>מצטרפים השבוע:  @Model.weeklyCustomerCountInt</li>
                @*<li>מצטרפים החודש:  @Model.monthlyCustomerCount</li>*@
                @*<li>ביקורים בהם מומשו נקודות:  @Model.pointImpsVisits</li>
                <li>נקודות אשר מומשו :  @Model.pointImpsSum</li>*@
            </ul>

        </div>
        <div class="footer-block information" style="margin-bottom:30px;  border-radius: 2px; background-color:@rgb!important;-webkit-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 1); width: 100%; max-width: 350px; line-height: 49px; color:white;">

            <div class="title4">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <a style="padding-right:0px" href="/admin">ניהול</a>
            </div>

        </div>
    </div>
</div>

        <script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>

