﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
    string rgb = Model.rgb;
    if (String.IsNullOrWhiteSpace(rgb)) { rgb = "rgb(244, 117, 33)"; }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page registration-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="page-body">
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }

            <div class="fieldset" style="border-color:transparent !important;">
                @*<div class="title">
                        <strong>@T("Account.YourPersonalDetails")</strong>
                    </div>*@
                <div class="form-fields">

                    <div class="inputs">
                        @Html.LabelFor(model => model.FirstName, new { }, ":")
                        <input class="text-box single-line valid" data-val="true" data-val-required="חובה להזין שם פרטי" id="FirstName" name="FirstName" type="text" value=""  autocomplete="off" style="height:50px;font-size:30px;">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="LastName">שם משפחה:</label>
                        <input class="text-box single-line" data-val="true" data-val-required="חובה להזין שם משפחה" id="LastName" name="LastName" type="text" value=""  autocomplete="off" style="height:50px;font-size:30px;">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        @*@Html.LabelFor(model => model.Email, new { }, ":")*@
                        @*@Html.EditorFor(model => model.Email)*@
                        <label for="Email">טלפון נייד:</label>
                        <input class="text-box single-line" id="Email" name="Email" type="tel" value=""  autocomplete="off" style="height:50px;font-size:30px;"  pattern="(?=.*\d).{10,10}"  title="10 תווים">
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="inputs date-of-birth">
                            <label>@T("Account.Fields.DateOfBirth"):</label>
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                  Html.FieldNameFor(x => x.DateOfBirthMonth),
                                  Html.FieldNameFor(x => x.DateOfBirthYear),
                                  DateTime.Now.Year - 90,
                                  DateTime.Now.Year,
                                  Model.DateOfBirthDay,
                                  Model.DateOfBirthMonth,
                                  Model.DateOfBirthYear)
                            @if (Model.DateOfBirthRequired)
                            {
                                @Html.RequiredHint()
                            }
                            @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                            @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                            @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                        </div>
                    }
                    @if (Model.Date2Enabled)
                    {
                        <div class="inputs date2">
                            <label>@Model.Date2Name :</label>
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Day2),
                                  Html.FieldNameFor(x => x.Month2),
                                  Html.FieldNameFor(x => x.Year2),
                                  DateTime.Now.Year - 90,
                                  DateTime.Now.Year,
                                  Model.Day2,
                                  Model.Month2,
                                  Model.Year2)
                            @if (Model.Date2Required)
                            {
                                @Html.RequiredHint()
                            }
                            @Html.ValidationMessageFor(model => model.Day2)
                            @Html.ValidationMessageFor(model => model.Month2)
                            @Html.ValidationMessageFor(model => model.Year2)
                        </div>
                    }
                    @if (Model.Date3Enabled)
                    {
                        <div class="inputs date3">
                            <label>@Model.Date3Name :</label>
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.Day3),
                                  Html.FieldNameFor(x => x.Month3),
                                  Html.FieldNameFor(x => x.Year3),
                                  DateTime.Now.Year - 90,
                                  DateTime.Now.Year,
                                  Model.Day3,
                                  Model.Month3,
                                  Model.Year3)
                            @if (Model.Date2Required)
                            {
                                @Html.RequiredHint()
                            }
                            @Html.ValidationMessageFor(model => model.Day3)
                            @Html.ValidationMessageFor(model => model.Month3)
                            @Html.ValidationMessageFor(model => model.Year3)
                        </div>
                    }
                    @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {


                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Newsletter, new { }, ":")
                                    @Html.EditorFor(model => model.Newsletter)
                                    @Html.ValidationMessageFor(model => model.Newsletter)
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>

                    }
                    @if (Model.GenderEnabled)
                    {
                        <div class="inputs">
                            <label>@T("Account.Fields.Gender"):</label>
                            <div class="gender">
                                <span class="male">
                                    @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                </span>
                                <span class="female">
                                    @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                    <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                </span>
                            </div>
                        </div>
                    }

                   

                    <div class="form-fields">
                      
                      
                            

                        <div class="accept-privacy-policy" style="font-size:14px;">
                            <input id="accept-privacy-policy" type="checkbox" checked  name="accept-privacy-policy" readonly />
                            <label for="accept-privacy-policy">אני מאשר קבלת מסרים פרסומיים ואת</label>
                            <span class="read" id="read-privacyinfo" style="color:@rgb!important">התקנון</span>
                            <script>
                        $(document).ready(function() {
                            $('#read-privacyinfo').on('click', function (e) {
                                displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', '@T("Account.Fields.AcceptPrivacyPolicy")');
                            });
                        });
                            </script>
                        </div>
                        
                      
                    </div>




                    @*@if (Model.AcceptPrivacyPolicyEnabled)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#register-button').click(function () {
                                    if ($('#accept-privacy-policy').is(':checked')) {
                                        //do some stuff
                                        return true;
                                    }
                                    else {
                                        //just show validation errors, dont post
                                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <div class="accept-privacy-policy">
                            <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                            <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                            <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                            <script>
                                $(document).ready(function () {


                                    $('#read-privacyinfo').on('click', function (e) {
                                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', '@T("Account.Fields.AcceptPrivacyPolicy")');
                                    });
                                });
                            </script>
                        </div>
                    }*@
                    <div class="buttons">
                        <input type="submit" id="register-button" class="button-1 register-next-step-button" style="background-color:@rgb!important; height:50px; padding-left:100px;padding-right:100px;padding-bottom:60px;padding-top:25px;font-size:26px" value="@T("Account.Register.Button")" name="register-button"  />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
                }
               