﻿@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
    string storeId = "/" + Model.storeID.ToString();
}
@using (Html.BeginForm(new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
{
    @Html.AntiForgeryToken()
    <div class="page registration-result-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="page-body">
            <div class="result">
                @Model.Result
            </div>
            <div class="buttons">
                <input type="submit" name="register-continue" id="regresbut" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")"/>
            </div>
        </div>
    </div>
}
<script>
    console.log("gfdgdf")
    function clicker() { $("#regresbut").click(); }
    setTimeout(clicker, 3000);
</script>