﻿@model showGiftModel 
@using Nop.Web.Models.Home;
@{



}
@using (Html.BeginForm())
{

    if (Model.gift1)
    {
        <div class="buttons">
            <input type="submit" id="showGift1-button" value="@Model.gift1Name" name="gift1" onclick="@Model.gift1 = false" />
        </div>

    }
}







