﻿@model statModel
@using Nop.Web.Models.Home;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    string storeId = "/" + Model.id.ToString();
    string register = storeId + "/" + "Register";
    string findSubscription = storeId + "/" + "findSubscription";
    string inc = storeId + "/" + "inc";
    string stat = storeId + "/" + "stat";
}
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information">
            <div class="title">
                <a href="@register">הרשמה</a>
            </div>

        </div>
        <div class="footer-block information">
            <div class="title">
                <a href="@findSubscription">מימוש נקודות\מתנות</a>
            </div>

        </div>
        <div class="footer-block information">
            <div class="title">
                <a href="@inc">הכנסת קניית לקוח</a>
            </div>

        </div>
        <div class="footer-block information">
            <div class="title">
                <a href="@register">ניהול</a>
            </div>

        </div>
        <div class="footer-block information">
            <div class="title">
                <a href="@register">נתוני מועדון</a>
            </div>
            <ul class="list">
                <li>חברי מועדון:  @Model.NumberOfCustomers</li>
                <li>מצטרפים השבוע:  @Model.weeklyCustomerCount</li>
                @*<li>מצטרפים החודש:  @Model.monthlyCustomerCount</li>*@
                <li>ביקורים בהם מומשו נקודות:  @Model.pointImpsVisits</li>
                <li>נקודות אשר מומשו :  @Model.pointImpsSum</li>
            </ul>
</div>
    </div>
</div>

        <script>
            $("#hl1").hide();

        </script>
