﻿@model lightSubModel
@using Nop.Web.Models.Home;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
    string rgb = Model.rgb;
    if (String.IsNullOrWhiteSpace(rgb)) { rgb = "rgb(244, 117, 33)"; }
    string bday = null;
    if (Model.dateOfBirth != null)
    {
         bday = Model.dateOfBirth.Split(' ')[0];
        string[] b1 = bday.Split('/');
        if (b1[2] == "1900")
        {
            bday = b1[0] + "/" + b1[1];
        }
    }
    
}
@section left
{
  
}


<div class="page account-page customer-info-page">
    <div class="page-title">
        <h1>@T("Account.CustomerInfo")</h1>
    </div>
    <div class="page-body">
       
        
            @Html.AntiForgeryToken()
          
           
        <div class="fieldset">
            @*<div class="title">
                <strong>@T("Account.YourPersonalDetails")</strong>
            </div>*@
            <div class="form-fields">
                <h1> טלפון: @Model.Email </h1>
                <h1> שם פרטי: @Model.FirstName</h1>
                <h1> שם משפחה: @Model.LastName </h1>
                @if (bday != null)
                {
                <h1> יום הולדת: @bday </h1>
                }

                 @if (Model.isPoints)
                 {

                 <div style="margin-bottom:30px">
                     <h1> נקודות: @Model.points  </h1>
                
                </div>

                <div style="margin-bottom:10px">
                    <label style="font-size:20px;color:black;">  הכנס סכום קניה:  </label>
                    <input type="number" name="sum" id="sum" value= 0>
                   
                </div>

                <div style="margin-bottom:10px" >
                    <label style="font-size:20px;color:black;">  הכנס נקודות למימוש:  </label>
                    <input type="number" name="dicPoints"  id="dic" value= 0>
                   
                </div>


              


                <input type="button" class="button-1 register-next-step-button" style="background-color:@rgb!important;height:50px; padding-left:100px;padding-right:100px;padding-bottom:60px;padding-top:25px;font-size:26px"  onclick="Points(@Model.points,@Model.storeID,'@Model.Email')" value="בצע פעולה" />
                 }
                @if (Model.CustomerAttributes.Count > 0)
                {


                    <div>

                        @if (Model.CustomerAttributes.Count > 0)
                        {
                            @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                        }

                    </div>
                }

                <div style="margin-bottom:10px">
                    <label style="font-size:20px;color:black;">  הכנס מספר חשבונית:  </label>
                    <input type="number" name="inovice" id="inovice" style="height:50px;font-size:30px;" pattern=".{5,}" title="לפחות 5 תווים">


                </div>
               

             

                
               
                <div class="buttons">
                    @if (Model.gift1)
                    {
                    <input type="button"  class="button-1 register-next-step-button" style="background-color:@rgb!important;height:50px; padding-left:55px;padding-right:100px;padding-bottom:60px;padding-top:25px;font-size:18px"  onclick="useGift(1,@Model.storeID,'@Model.Email')" value="לחץ למימוש @Model.gift1Name" />
                    }
                    @if (Model.gift2)
                    {
                        <input type="button"  class="button-1 register-next-step-button" style="background-color:@rgb!important"  onclick="useGift(2,@Model.storeID,'@Model.Email')" value="לחץ למימוש @Model.gift2Name" />
                    }
                    @if (Model.gift3)
                    {
                        <input type="button"  class="button-1 register-next-step-button" style="background-color:@rgb!important"  onclick="useGift(3,@Model.storeID,'@Model.Email')" value="לחץ למימוש @Model.gift3Name" />
                    }
                    @if (Model.gift4)
                    {
                        <input type="button"  class="button-1 register-next-step-button" style="background-color:@rgb!important" onclick="useGift(4,@Model.storeID,'@Model.Email')" value="לחץ למימוש @Model.gift4Name" />
                    }
                   
                </div>
               
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    
   


    function useGift(GiftNum, storeID, Email) {

                       
        var postData = {
            GiftNum: GiftNum,
            storeID: storeID,
            Email: Email
        }
        if (document.getElementById("inovice")) {
            inovice = document.getElementById("inovice").value;
            if (inovice.length < 5) {
                $('<div>מספר התווים מינמלי בחשבונית הוא 5</div>')
   .dialog({
       buttons: [
       {
           text: "לאישור",
           icon: "ui-icon-heart",
           click: function () {

               $(this).dialog("close");
           }

           // Uncommenting the following line would hide the text,
           // resulting in the label being used as a tooltip
           //showText: false
       }
       ]
   });

                return;
            }
        }
                            addAntiForgeryToken(postData);
                            console.log(postData)

                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: '@Url.Action("useGift", "Home")',
                                data: postData,
                                dataType: 'json',
                                success: function(data) {
                                    location.href = data.redirect;
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('פעולה נכשלה, שגיעת מערכת.');
                                }
                            });
                        }
    


    function Points(points, storeID, Email) {
        var sum = null;
        var dicPoints = null;
        var inovice;
        var employee;
        if (document.getElementById("dic").value)
        { dicPoints = parseInt(document.getElementById("dic").value); }
        else {
            dicPoints = 0;
        }
        if (document.getElementById("sum").value)
        { sum = parseInt(document.getElementById("sum").value); }
        else {
            sum = 0;
        }
        if(document.getElementById("inovice")){
            inovice = document.getElementById("inovice").value;
            if (inovice.length < 5) {
                $('<div>מספר התווים מינמלי בחשבונית הוא 5</div>')
   .dialog({
       buttons: [
       {
           text: "לאישור",
           icon: "ui-icon-heart",
           click: function () {
              
               $(this).dialog("close");
           }

           // Uncommenting the following line would hide the text,
           // resulting in the label being used as a tooltip
           //showText: false
       }
       ]
   });
                
                return;
            }
        }
        if (dicPoints >sum) {
            
          
            $('<div>שגיאה בהקלדת הנתונים, לא ניתן לממש יותר מסכום הקניה</div>')
   .dialog({
       buttons: [
      {
          text: "לאישור",
          icon: "ui-icon-heart",
          click: function () {
             
              $(this).dialog("close");
          }

          // Uncommenting the following line would hide the text,
          // resulting in the label being used as a tooltip
          //showText: false
      }
       ]
   });

            return;
        }
        if (document.getElementById("101"))
            employee = document.getElementById("101").value;
        if(employee=="0"){
           
            
            $('<div>שם העובד הוא שדה חובה</div>')
      .dialog({
          buttons: [
      {
          text: "לאישור",
          icon: "ui-icon-heart",
          click: function () {
              
              $(this).dialog("close");
          }

          // Uncommenting the following line would hide the text,
          // resulting in the label being used as a tooltip
          //showText: false
      }
          ]
      });
            return;
        }
        
        if (inovice == null)
            inovice = ""
        if (employee == null)
            employee = ""
        console.log(employee);
        console.log()
        if (dicPoints > points)
        {
            $('<div>כמות נקודות לממוש גדולה מנקודות הלקוח </div>')
        .dialog({
            buttons: [
      {
          text: "לאישור",
          icon: "ui-icon-heart",
          click: function () {
              
              $(this).dialog("close");
          }

          // Uncommenting the following line would hide the text,
          // resulting in the label being used as a tooltip
          //showText: false
      }
            ]
        });
            return;
        }
      
            var postData = {
                dicPoints: dicPoints,
                storeID: storeID,
                Email: Email,
                inovice: inovice,
                employee: employee,
                sum: sum

            };
            addAntiForgeryToken(postData);
            console.log(postData)

            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("points", "Home")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                  
                    $('<div>' + data.redirect + '  הסכום לתשלום.  </div>')
      .dialog({
           
          buttons: [
      {
          text: "לאישור",
          icon: "ui-icon-heart",
          click: function () {
              location.href = "/" + storeID + "/register";
              $(this).dialog("close");
          }

          // Uncommenting the following line would hide the text,
          // resulting in the label being used as a tooltip
          //showText: false
      }
          ]

      });
                   
                  
                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError)
                    alert(ajaxOptions)
                    alert(xhr)
                    alert('פעולה נכשלה, שגיעת מערכת.');
                }
            });
            return;
        }
    

   
</script>
