﻿@model GiftModel
@using (Html.BeginForm())
{

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        @Html.Action("StoreScopeConfiguration", "Setting")
        <div class="panel-group">
            @if (Model.Id > 0)
            {
                <div class="panel panel-default">
                    <div class="panel panel-body">
                        <div class="callout bg-gray-light">
                            @T("Admin.Promotions.Campaigns.Warning")
                        </div>
                      
                       
                    </div>
                </div>
            }

            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Subject)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Subject)
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Body)
                        </div>
                        <div class="col-md-9">
                            @*@Html.NopTextAreaFor(model => model.Body,null,true,10,20)*@
                            <textarea onKeyDown="textCounter(this, 'q17length', 172);"
						onKeyUp="textCounter(this,'q17length' ,172)"  rows="10" cols="40" data-val="true" data-val-required="חובה להזין תוכן" id="Body" name="Body" type="text" value="">
                        @Model.Body
                            </textarea>
                                </div>
                        <div class="col-md-9">
                            <div class="col-md-9">
                                <input style="color:red;font-size:12pt;font-style:italic;" readonly type="text" id='q17length' name="q17length" size="3" maxlength="3" value="172">

                        </div>

                        </div>
                        @*<div class="col-md-9">
                                @{
                                    //we use rich editor with BODY tag supported
                                    //it could be a better practice to implement one more editor (similar to RichEditor.cshtml)
                                    //with "enableFullPage" property set to "true". but we do not want to duplicate source code
                                    //that's why we use this workaround
                                    //we store a value into "ViewData" and then use it in the RichEditor.cshtml file
                                    ViewData["nop.RichEditor.EnableFullPage"] = true;
                                }
                                @Html.EditorFor(model => model.Body, "RichEditor")
                                @Html.ValidationMessageFor(model => model.Body)
                            </div>*@
                    </div>
                  
                    <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.StoreId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.StoreId, Model.AvailableStores)
                            @Html.ValidationMessageFor(model => model.StoreId)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>מתנה </label>
                        </div>
                        <div class="col-md-8">
                            @{
                                var gifts = new List<SelectListItem>();
                                if (Model.gift1Enabled)
                                {
                                    gifts.Add(new SelectListItem { Text = Model.gift1Name, Value = "1" });
                                }
                                if (Model.gift2Enabled)
                                {
                                    gifts.Add(new SelectListItem { Text = Model.gift2Name, Value = "2" });
                                }
                                if (Model.gift3Enabled)
                                {
                                    gifts.Add(new SelectListItem { Text = Model.gift1Name, Value = "3" });
                                }
                                if (Model.gift4Enabled)
                                {
                                    gifts.Add(new SelectListItem { Text = Model.gift4Name, Value = "4" });
                                }
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.NopDropDownListFor(model => model.gift, gifts)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>צור מתנה או בטל מתנה: </label>
                        </div>
                        <div class="col-md-8">
                            @{
                                var YesNo = new List<SelectListItem>();

                                YesNo.Add(new SelectListItem { Text = "צור מתנה", Value = "true" });
                                YesNo.Add(new SelectListItem { Text = "בטל מתנה", Value = "false" });

                            }
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.NopDropDownListFor(model => model.giftVal, gifts)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>תאריך סוף מתנה</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.EndDate)
                           
                        </div>
                    </div>




                    @if (Model.GenderEnabled)
                {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Gender)
                            </div>
                            <div class="col-md-9">
                                <div class="raw">
                                    <div class="col-md-1">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "Gender_Male" })
                                                @T("Admin.Customers.Customers.Fields.Gender.Male")
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "Gender_Female" })
                                                @T("Admin.Customers.Customers.Fields.Gender.Female")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                    <div class="form-group">
                        <div class="col-md-3">
                            <label>בשדות התאריכים יש להקפיד לא להזין יום 31 בחודש של 30 יום.</label>
                        </div>
                        
                    </div>
             @if (Model.DateOfBirthEnabled)
             {
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>תאריך יום הולדת התחלה</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DateOfBirth)
                            @Html.ValidationMessageFor(model => model.DateOfBirth)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>תאריך יום הולדת סוף</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DateOfBirthTo)
                            @Html.ValidationMessageFor(model => model.DateOfBirthTo)
                        </div>
                    </div>
             }

                    @if (Model.Date2Enabled)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>@Model.Date2Name</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Date2)
                                @Html.ValidationMessageFor(model => model.Date2)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>@Model.Date2Name סוף</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Date2To)
                                @Html.ValidationMessageFor(model => model.Date2To)
                            </div>
                        </div>
                    }
                    @if (Model.Date3Enabled)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>@Model.Date3Name</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Date3)
                                @Html.ValidationMessageFor(model => model.Date3)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>@Model.Date3Name סוף</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Date3To)
                                @Html.ValidationMessageFor(model => model.Date3To)
                            </div>
                        </div>
                    }
                  
                    @if (Model.isPoints)
                    {
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>שלח ללקוח שיש יותר נקודות מאשר:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MinPoints)
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>שלח ללקוח שיש פחות נקודות מאשר:</label>
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MaxPoints)

                        </div>
                    </div>
                    }

                    @if (Model.Cabm.Count > 0)
                    {
                        <div class="fieldset">

                            <div class="form-fields">


                                @Html.Partial("_CustomerAttributes", Model.Cabm)

                            </div>
                        </div>
                    }
                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CustomerRoleId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.CustomerRoleId, Model.AvailableCustomerRoles)
                            @Html.ValidationMessageFor(model => model.CustomerRoleId)
                        </div>
                   </div>*@

                        @*@if (Model.DateOfBirthEnabled)
                            {
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchDayOfBirth)
                                    </div>
                                    <div class="col-md-8">
                                        @{
                                            var monthOfBirthValues = new List<SelectListItem>();
                                            monthOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Month").Text, Value = "0" });
                                            for (int i = 1; i <= 12; i++)
                                            {
                                                monthOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                            }
                                            var dayOfBirthValues = new List<SelectListItem>();
                                            dayOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Day").Text, Value = "0" });
                                            for (int i = 1; i <= 31; i++)
                                            {
                                                dayOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                            }
                                        }
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.NopDropDownListFor(model => model.SearchMonthOfBirth, monthOfBirthValues)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.NopDropDownListFor(model => model.SearchDayOfBirth, dayOfBirthValues)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                            }*@
                   
                    @*<div class="form-group">*@

                        @*<script type="text/javascript">
                            function toggleLoadedAllowedTokens() {
                                $('#pnlAllowedTokens').toggle();
                                if ($('#pnlAllowedTokens').css('display') == 'none') {
                                    $('#allowedTokensShowHide').html('@T("Admin.Common.Show")');
                                } else {
                                    $('#allowedTokensShowHide').html('@T("Admin.Common.Hide")');
                                }
                            }
                        </script>*@

                        @*<div class="col-md-3">
                            @Html.NopLabelFor(model => model.AllowedTokens)
                        </div>*@
                        @*<div class="col-md-9">
                            <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">@T("Admin.Common.Show")</a>
                            <div id="pnlAllowedTokens" style="display: none">
                                @Html.NopDisplayFor(model => model.AllowedTokens)
                            </div>
                        </div>*@
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function textCounter(field, cnt, maxlimit) {
        var cntfield = document.getElementById(cnt)
        if (field.value.length > maxlimit) // if too long...trim it!
            field.value = field.value.substring(0, maxlimit);
            // otherwise, update 'characters left' counter
        else
            cntfield.value = maxlimit - field.value.length;
    }
</script>
                                }
